@import "modern-normalize/modern-normalize.css";
@import "/src/css/reset.css";

:root {
  /* COLORS */
  /* * Primary colors: */

  --primary-grey: #8a8a89;
  --primary-black: #121417;
  --primary-blue: #3470ff;
  --primary-white: #ffffff;
  --primary-light-grey: #8a8a89

  /* * Secondary colors: */

  --bg-white: #f7f7fb;
  --bg-light-grey: #f9f9f9;;
  --bg-blue: #3470ff;
  --hover-blue: #0b44cd;

  /* FONTS */
  --standard-font-size: 12px;
  --standard-line-height: 1.5;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --bold-font-weight: 600;

  /* SHADOW */
  --btn-box-shadow: 0 4px 8px #3470ff;
  --btn-box-shadow-hover: 0 4px 14px #3470ff;
}

  body {
    overflow-x: hidden;
    
    font-family: "Manrope", sans-serif;
    font-weight: var(--regular-font-weight);
    font-style: normal;
    font-size: var(--standard-font-size);
    line-height: var(--standard-line-height);
    
    color: var(--primary-black);
    background-color: var(--primary-white);
    cursor: none;
}

  button {
  color: var(--primary-white);
  background-color: var(--bg-blue);
   }
 

   .container {
  margin: 0 auto; 
  max-width: 274px;
  
  @media (min-width: 768px) {
    max-width: 577px;
    }

    @media (min-width: 1440px){        
        max-width: 1183px;      
      } 
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

input:hover,
input:focus{
  outline: none;
}